---
import { Image } from 'astro:assets';
import astro from '../assets/astro-logo-dark.svg';
---

<section>
  <div class='flex items-start'>
    <Image src={astro} alt='astro-logo' width='20' />
    <span class='font-sans text-xs text-slate-400 ml-2'>Astro.build</span>
  </div>
</section>
