---
import Analytics from '../components/Analytics.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import MainTitle from '../components/MainTitle.astro';
import Services from '../components/Services.astro';
import Summary from '../components/Summary.astro';
import HireMe from '../components/HireMe.astro';
import Footer from '../components/Footer.astro';
import Techstack from '../components/Techstack.astro';
---

<Analytics id='UA-73668145-1' />
<Layout title='Alexander Kuznetsov Portfolio site'>
  <main class='p-4 my-2 max-w-2xl mx-auto'>
    <MainTitle size='20' />
    <Summary />
    <Services />
    <ul role='list' class='link-card-grid'>
      <Card
        href='/'
        title='Marketing sites'
        body='Fast, responsive, SEO frendly marketing sites and blogs with the Jamstack approach.'
      />
      <Card
        href='/'
        title='E-commerce'
        body='Shopify stores with sets of edge technologies or just integration existing sites with payment infrastructure.'
      />
      <Card
        href='/'
        title='Mobile apps'
        body='Cross platform mobile apps with React Native for Android and Apple devices.'
      />
      <Card
        href='/'
        title='Fullstack Apps'
        body='Fintech, Retail, Healthcare, Manufactures - almost any business applications with Frontend and Backend.'
      />
      <Card
        href='/'
        title='Blockchain dApps'
        body='Blockchain apps on top of Solana - one of the fastes chain in the Crypto world with low fee transactions.'
      />
      <Card
        href='/'
        title='Process Automation (BPM)'
        body='Integrated Microservices with Human tasks and API endpoinds with one universal process orchestrator.'
      />
    </ul>
    <HireMe />
    <Techstack />
    <Footer />
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }
  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
