---
import Analytics from '../components/layout/Analytics.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/common/Card.astro';
import MainTitle from '../components/home/MainTitle.astro';
import Services from '../components/home/Services.astro';
import Summary from '../components/home/Summary.astro';
import HireMe from '../components/home/HireMe.astro';
import Footer from '../components/layout/Footer.astro';
import TechnologiesSection from '../components/technologies/index.astro';
import WorkExperience from '../components/experience/WorkExperience.astro';
---

<Analytics id='UA-73668145-1' />
<Layout title='Alexander Kuznetsov Portfolio site'>
  <main class='p-4 my-2 max-w-2xl mx-auto'>
    <MainTitle size='20' />
    <Summary />
    <Services />
    <ul role='list' class='link-card-grid'>
      <Card
        href='/services/3d-web-experiences'
        title='3D Web Experiences'
        body='Create immersive 3D web experiences using Three.js - from interactive product visualizations to engaging web animations and WebGL-powered graphics.'
      />
      <Card
        href='/services/marketing-sites'
        title='Marketing Sites'
        body='Build fast, responsive, SEO friendly content-driven websites like blogs, marketing, and e-commerce sites with Jamstack.'
      />
      <Card
        href='/services/mobile-apps'
        title='Mobile Apps'
        body='Build cross platform mobile apps with React Native for Android and Apple devices.'
      />
      <Card
        href='/services/fullstack-apps'
        title='Fullstack Apps'
        body='Build Fintech, Retail, Healthcare, Manufacturing applications with Frontend and Backend integration.'
      />
      <Card
        href='/services/ai-apps'
        title='AI Apps'
        body='Integrate Large Language Models (LLMs) like ChatGPT or Meta Llama 3 into existing or new Apps.'
      />
      <Card
        href='/services/workflow-automation'
        title='Workflow Automation'
        body='Integrate durable execution platform (Temporal) enabling reliable execution of software services and applications at scale.'
      />
    </ul>
    <WorkExperience />
    <TechnologiesSection />
    <HireMe />

    <Footer />
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }
  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
