<p
  class='mb-4 text-slate-300 hover:text-slate-50 rounded-md drop-shadow-md leading-relaxed sm:leading-loose text-sm sm:text-md'
>
  Leveraging years of software development expertise across fintech, telecommunications, manufacturing, retail, and healthcare, I deliver tailored product strategies and actionable roadmaps to meet your unique business goals.
</p>
