---
---

<footer class='max-w-md mx-auto w-full mb-8 font-sans'>
  <div class='flex justify-between items-start'>
    <a
      href='https://github.com/AlexSKuznetsov'
      class='text-slate-500 hover:text-slate-100 transition'
      target='_blank'
    >
      Github
    </a>
    <a
      href='https://www.linkedin.com/in/alexskuznetsov/'
      class='text-slate-500 hover:text-slate-100 transition'
      target='_blank'
    >
      LinkedIn
    </a>
    <a
      href='https://github.com/AlexSKuznetsov/AlexSKuznetsov/raw/master/CV_Alexander_Kuznetsov.pdf'
      class='text-slate-500 hover:text-slate-100 transition'
      target='_blank'
    >
      Resume
    </a>
  </div>
  <div class='flex mt-8 items-center mx-auto justify-center'>
    <span class='text-slate-100 pr-4'>Built with</span>
    <img
      src='https://astro.build/assets/press/full-logo-dark.png'
      width='100'
      alt='Astro'
    />
    <span class='text-slate-100 pl-4'>in 2022</span>
  </div>
</footer>
