---
// @ts-ignore no types yet for astro icons
import * as Icon from '@astropub/icons';
import { Image } from 'astro:assets';
const { size = 16 } = Astro.props;
---

<section class='mt-2 flex items-start justify-between content-center'>
  <div>
    <h1 class='font-bold text-xl sm:text-2xl p-2 text-slate-200 sm:mt-4'>
      Hello, my name is <span
        class='font-extrabold sm:inline-block text-blue-500'
      >
        Alex
      </span>
    </h1>
    <div class='flex px-2 items-end sm:mt-2'>
      <Icon.Home size={size} class='fill-slate-300' />
      <p class='ml-2 leading-none text-sm text-slate-300'>
        Live in Seattle, USA
      </p>
    </div>
  </div>

  <Image
    src={'/images/alexphoto-min.jpeg'}
    alt='Alex'
    width={60}
    height={60}
    format='webp'
    loading='lazy'
    class='rounded-full mt-2 border-2 border-white"'
  />
</section>
