---
import alex from '../assets/images/alex_photo.jpeg';
// @ts-ignore
import Home from '@astropub/icons/Home';
---

<section>
  <div class='flex items-center justify-between content-center'>
    <div>
      <h1 class='font-bold text-2xl p-2'>
        Hi, my name is <span class='font-extrabold text-blue-500'
          >Alex Kuznetov</span
        >
      </h1>
      <div class='flex px-2 items-center content-center'>
        <Home size='14' class='p-0' />
        <p class='ml-1 text-xs text-slate-700'>Live in Lithuania, Vilnius</p>
      </div>
    </div>
    <img src={alex} alt='Alex photo' class='w-24 h-24 rounded-full mx-auto' />
  </div>
</section>
