---
---

<h1 class='font-bold text-2xl p-2'>
  Hi, my name is <span class='font-extrabold text-blue-500'
    >Alexander Kuznetov</span
  >
</h1>
<p class='px-2 text-xs text-slate-700'>Live in Lithuania, Vilnius</p>
