<p
  class='mb-4 text-md text-slate-300 hover:text-slate-50 rounded-md drop-shadow-md'
>
  Over the years of software development experience I have learned from a lot of
  projects. With that wide-ranging experience in fintech, telecom, manufacturer,
  retail, and healthcare domains in building web applications I can offer you a
  set of specific product directions so you can choose which of them is related
  to your needs.
</p>
