<section
  class='my-4 bg-slate-900 text-md text-slate-100 rounded-md drop-shadow-md'
>
  <p class='text-lg lg:text-xl font-bold'>
    I'm a fullstack <span class='underline decoration-pink-500/60'
      >JavaScript developer</span
    >
  </p>
  <p class='text-sm lg:text-m text-sky-500'>
    Helping businesses succeed with modern technologies 🪴
  </p>
</section>
