<section
  class='p-4 my-4 bg-slate-200 hover:bg-slate-900 text-md text-slate-700 hover:text-slate-100 rounded-md drop-shadow-md'
>
  <p>Fullstack Javascript developer</p>
  <p>Helping businesses success with modern technologies 🚀</p>
</section>
