<section
  class='p-4 my-4 hover:bg-slate-200 bg-slate-900 text-md hover:text-slate-700 text-slate-100 rounded-md drop-shadow-md'
>
  <p>
    Fullstack <span class='underline decoration-pink-500'
      >Javascript developer</span
    > - React, TypeScript, Node.js.
  </p>
  <p class='underline decoration-sky-500'>
    Helping businesses success with modern technologies 🚀
  </p>
</section>
