<section
  class='p-2 my-4 bg-slate-900 text-md text-slate-100 rounded-md drop-shadow-md'
>
  <p>
    Fullstack <span class='underline decoration-pink-500/60'
      >JavaScript developer</span
    >
  </p>
  <p class='mt-1 underline decoration-sky-500/60 text-md'>
    Helping businesses succeed with modern technologies
  </p>
</section>
